@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
    
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: #E7E5D9;
}

.title {
	display: inline-block;
    background-color: #E7E5D9;
    text-shadow: 3px 3px 0 grey;
}

.masthead {
	background: transparent url("../artwork/masthead_tile.png") repeat left center;
	text-align: center;
}


.logo {
	margin: 0 0.2em 0 0;
	width: 1.2em;
	vertical-align: middle;
}

.logo2 {
	margin: 0 0.2em 0 0;
	width: 5em;
	vertical-align: middle;
    align-content: center;
}