@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
    
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: #E7E5D9;
}

.title {
	display: inline-block;
    background-color: #E7E5D9;
    text-shadow: 3px 3px 0 grey;
}


.img-flex {
	display: block;
	width: 100%;
}

.border {
	border-image: url("../artwork/boarder.png") 29 29 29 29 stretch stretch;
	border-width: 29px 29px 29px 29px;
}

.masthead {
	background: transparent url("../artwork/masthead_tile.png") repeat left center;
	text-align: center;
}

.brown {
    background-color: #87714F;
}

.logo2 {
	margin: 0 0.2em 0 0;
	width: 3em;
	vertical-align: middle;
}

.logo {
	margin: 0 0.2em 0 0;
	width: 1.2em;
	vertical-align: middle;
}

